@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1 class="header-signup-login">
        Welcom To My Orders
    </h1>
</div>

<div class="form">
    <ul class="tab-group">
        <il class="active"><a id="tab-signup">Sign Up</a></il>
        <il><a id="tab-login">Log In</a></il>
    </ul>

    <div>
        <div id="signup">
            <h1>Sign Up for Free</h1>

            <form action="/" method="post">
                <div class="top-row">
                    <div class="field-wrap">
                        <input type="text" required autocomplete="off" placeholder="User Name*" />
                    </div>

                    <div class="field-wrap">
                        <input type="text" required autocomplete="off" placeholder="Last Name*"/>
                    </div>
                </div>
                <div class="field-wrap">
                    <input type="email" required autocomplete="off" placeholder="Email Address*"/>
                </div>

                <div class="field-wrap">
                    <input type="password" required autocomplete="off" placeholder="Set A Password*" />
                </div>
                <button class="button" type="submit" /> Get Started</button>
            </form>
        </div>

        <div id="login">
            <h1>Welcom Back</h1>

            <form action="/" method="post">

                <div class="field-wrap">
                   
                    <input type="email" required autocomplete="off" placeholder="Email Address"/>
                </div>

                <div class="field-wrap">
                    <input type="password" required autocomplete="off" placeholder="Password"/>
                </div>

                <p class="forgot"><a href="#">Forget Password?</a></p>

                <button class="button">Log In</button>
            </form>
        </div>
    </div>
</div>
