@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_LayoutPageOrders.cshtml";
}
<hgroup class="error">
    <h1>Error 404</h1>
    <h2>An error occurred while processing your request.</h2>
    <img src="~/ACC/PackageIcon.png"/>
</hgroup>
